
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');  

div {
    max-width: 1600px;
    margin: 0 auto;

}

nav a{
    text-align: center;
    font-family: "Oswald", Arial, sans-serif;
}

header > nav {
display: flex;
justify-content: center;
gap: 2em;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: "Righteous", Arial, sans-serif;
}

.button-box {
    text-align: center;
}
main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body {
    background-color: whitesmoke; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:#0B3C5D;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-family: "Oswald", Arial, sans-serif;
}

nav a:hover {
    color: #E07A2D;
    text-decoration: none;
}

nav a{
    text-decoration: none;
    color: whitesmoke;
    padding: 35px;
}

.home-title{
    color: #0B3C5D;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.msg h2{
    color: #0B3C5D;
    font-family: "Oswald", Arial, sans-serif;
}

.msg p{
    color: #0B3C5D;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}

h2{
    color: #0B3C5D;
    text-decoration: underline;
    text-shadow: #0B3C5D;
    text-align: center;
    font-family: "Oswald", Arial, sans-serif;
    margin: 0;
}

h4{
    color: #0B3C5D;
    font-family: "Oswald", Arial, sans-serif;
    margin: 0;
}

.book, .join{
    color: #093258;
    text-decoration: none; 
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
     color:#E07A2D; 
; 
}

#background{
     background-color: #E07A2D; 
}

.msg{
     background-color: #0B3C5D;
     color: whitesmoke;
     font-family: "Open Sans", Arial, sans-serif;
     line-height: 1.5em;
     padding: 35px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}   

footer{
     background-color: #0B3C5D; 
     color: whitesmoke;
     padding: 25px 50px;
     margin-top: 200px;
}

footer p{
    font-size: 1.2em;
    font-family: "Open Sans", Arial, sans-serif;
}

footer a{
    text-decoration: none;
    color: white;
    font-family: "Oswald", Arial, sans-serif;
}

footer a:hover{
    color: #E07A2D;
    text-decoration: underline;
}

.logo {
width: 400px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer .social img {
    padding-top: 15px;
}

.card-img {
    border: 10px solid #0B3C5D;
}
