
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');  

#content {
    max-width: 1600px;
    margin: 0 auto;

}

nav a{
    text-align: center;
    font-family: "Oswald", Arial, sans-serif;
    text-decoration: none;
    color: whitesmoke;
    padding: 35px;
}

header > nav {
display: flex;
justify-content: center;
gap: 2em;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: "Righteous", Arial, sans-serif;
    color:  whitesmoke;
}

.button-box {
    text-align: center;
}
main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

#background {
    height: 725px;
}

body {
    background-color: whitesmoke; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:#0B3C5D;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-family: "Oswald", Arial, sans-serif;
    display: grid;
    grid-template-columns: 150px auto;

}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    color: #E07A2D;
    text-decoration: none;
}

.home-title{
    color: #0B3C5D;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.msg h2{
    color: whitesmoke;
    font-family: "Oswald", Arial, sans-serif;
}

.msg p{
    color: whitesmoke;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}

h2{
    color: #0B3C5D;
    text-decoration: underline;
    text-shadow: #0B3C5D;
    text-align: center;
    font-family: "Oswald", Arial, sans-serif;
    margin: 0;
}

h4{
    color: #0B3C5D;
    font-family: "Oswald", Arial, sans-serif;
    margin: 0;
    padding-bottom: 50px;
}

.book, .join{
    color: black;
    text-decoration: none; 
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: white;
}

.book:hover, .join:hover{
     color:#E07A2D; 
; 
}

#background{
     background-color: #E07A2D; 
     grid-column: 1/11;
     grid-row: 4/9;
}

.msg{
     background-color: #0B3C5D;
     color: whitesmoke;
     font-family: "Open Sans", Arial, sans-serif;
     line-height: 1.5em;
     padding: 35px;
     grid-column: 6/10;
     grid-row: 6/7;
     box-shadow: 5px 5px 10px #6f7364;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}   

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img, .mountains {
    width: 100%;
}

footer{
     background-color: #0B3C5D; 
     color: whitesmoke;
     padding: 25px 50px;
     margin-top: 200px;
     display: flex;
     justify-content: center;
     align-items: center;
}

footer p{
    font-size: 1.2em;
    font-family: "Open Sans", Arial, sans-serif;
    color: whitesmoke;
}

footer a{
    text-decoration: none;
    color: white;
    font-family: "Oswald", Arial, sans-serif;
}

footer a:hover{
    color: #E07A2D;
    text-decoration: underline;
}

.logo {
width: 400px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer .social img {
    padding-top: 15px;
}

.card-img {
    border: 10px solid #0B3C5D;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}

#hero {
     display: grid;
    grid-template-columns: 1fr 3fr 1fr;
      margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}