/* Add your CSS here to style your valentines day page *//* ====== Reset ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
   font-family: 'Poppins', sans-serif;

    background-image: url("../images/valentinebackground.png");
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    color: white; 

}


#wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
}

nav li {
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

nav li:hover {
    color: #e63973;
}


h1 {
    font-family: 'Fleur De Leah', serif;  
    font-size: 8rem;                         
    text-align: center;
    color: white;                         
    text-shadow: 
        2px 2px 4px rgba(0,0,0,0.5),       
        0 0 15px #ff4d6d,                  
        0 0 25px #ff1a4d;                 
    margin: 30px 0;
}


main img {
    display: block;
    margin: 0 auto 30px auto;
    max-width: 300px;
    border-radius: 20%;
    border: solid 10px white;
}


section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    color: #e63973;
}

section p {
    line-height: 1.6;
}

section:hover {
    transform: translateY(-8px);            
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #a64d6a;
}
