body{
    text-align: center;
    background-color: whitesmoke;
}

img{
    max-width: 800px;
    border: 4px solid steelblue;
}

nav {
    background-color: steelblue;
    padding: 20px;
}

a{
    color: white;
    text-decoration: none;
    margin: 20px;
}

h1{
    color: steelblue;
    text-decoration: underline;
}
footer {
    background-color: steelblue;
    color: white;
    padding: 20px;
}

footer p {
    margin: 0;
}